.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}


/*JSC Tweaks*/
.comment--jsc{
  padding: 1px 5px;
  margin:0px;
}

.smaller--jsc{
  font-size: 70% !important;
}

.navbar-brand--jsc{
  font-size: 100%;
}

.sort-icon {
  font-size: 9px;
  margin-left: 3px;
}

#jsc--error{
  height: 50px;
  padding: 1%;
}

.pannel--assets--error{
  background-color: #f2dede;
}

/*logo in the navbar*/
.navbar--brand--custom{
  padding-top: 1.5px;
  padding-left: 5px;
}

.navbar--brand--custom img{
  border-radius: 5px;
}

/**/

.navbar-default {
  background-color: #290053;
  border-color: #9b59b6;
}
.navbar-default .navbar-brand {
  color: #ffffff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #2114ec;
}
.navbar-default .navbar-text {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #2114ec;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #2114ec;
  background-color: #9b59b6;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #2114ec;
  background-color: #9b59b6;
}
.navbar-default .navbar-toggle {
  border-color: #9b59b6;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #9b59b6;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ffffff;
}
.navbar-default .navbar-link {
  color: #ffffff;
}
.navbar-default .navbar-link:hover {
  color: #2114ec;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #2114ec;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #2114ec;
    background-color: #9b59b6;
  }
}

.jumbotron{
  background-color: #f2e9f5;
}

.btn-primary{
  color: #fff;
  background-color: #290053;
  border-color: #9b59b6;
}

.btn-primary:hover {
  color: #2114ec;
  background-color: #9b59b6;
  /*background-color: #290053;*/
}

.panel-default > .panel-heading, .panel-default > .panel-footer {
    background-color: #f2e9f5;
    border-color: #9b59b6;
}

.panel-default{
  border-color: #9b59b6;
}

.even {
  background-color: #fdf7ff !important;
}

.even:hover {
  background-color: #f2e9f5 !important;
}

.odd:hover {
  background-color: #f2e9f5 !important;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  color: #fff;
  background-color: #9b59b6;
  border-color: #9b59b6;
}

.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
  color: #2114ec;
  background-color: #f2e9f5;
  border-color: #9b59b6;
}