<div class="panel panel-default">
	<!-- Default panel contents -->
	<div class="panel-heading">
		<h3 class="text-center">{{shareFile.name}}</h3>
	</div>
	<div class="panel-body">
		<p>Detailed information about this asset</p>
	</div>

	<ul class="list-group">
	    <li class="list-group-item">Currency: {{shareFile.currency.name}}</li>
	    <li class="list-group-item">Issuer: {{shareFile.issuer.name}}</li>
	    <li class="list-group-item">ISIN: {{shareFile.isin}}</li>
	    <li class="list-group-item">Region: {{regions | formatAssetData}}</li>
	    <li class="list-group-item">Risk: {{risk_families | formatAssetData}}</li>
	    <li class="list-group-item">Sector: {{sectors | formatAssetData}}</li>
	  </ul>
	
	<!-- Grap -->
	<p>Graph</p>

	<!-- <div>
		<nvd3-line-chart
	    	data="exampleData"
	        id="exampleId"
	        xAxisTickFormat="xAxisTickFormatFunction()"
	        yAxisTickFormat="yAxisTickFormatFunction()"
	        showXAxis="true"
	        showYAxis="true"

			color="colorFunction()"
			noData="No Data Available!"
			height="400"
			interactive="true"
	        >
	        	<svg></svg>
	    </nvd3-line-chart>
	</div> -->

	<div>
	    <nvd3-line-with-focus-chart
	            data="exampleData"
	            id="exampleId"
	            height="400"
	            height2="50"
	            margin="{left:80,top:50,bottom:30,right:50}"
	            yAxisTickFormat="yAxisTickFormatFunction()"
	            xAxisTickFormat="xAxisTickFormatFunction()"
	            x2AxisTickFormat="xAxisTickFormatFunction()"
				color="colorFunction()"
				isArea="true"
				showLegend="true"
				noData="No Data Available!"
				interactive="true"
	            >
	         <svg></svg>
	    </nvd3-line-with-focus-chart>
	</div>

</div>