
<!-- <div class="navbar navbar-default" role="navigation">
	<div>
		<div class="navbar-header">

			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse-assets">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>

			<a class="navbar-brand" href="#/assets">Assets</a>
		</div>

		<div class="collapse navbar-collapse" id="js-navbar-collapse-assets">

			<ul class="nav navbar-nav">
				<li ng-repeat="share in shares track by $index" ng-class="{ active:header.isActive(value.url) }">
					<a ng-href="#/assets/{{share.id}}">{{share.name}}</a>
				</li>
			</ul>
		</div>
	</div>
</div> -->


<nav class="navbar navbar-default">
  <div>
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand navbar-brand--jsc" href="#/assets">Assets</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      
      <ul class="nav navbar-nav">
      	<!-- <li><a href="#/assets">Assets</a></li> -->

        <li class="dropdown">
          <a href="#{{location}}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li ng-repeat="share in shares | orderBy:'name' track by $index" ng-class="{ active:header.isActive(value.url) }">
                <a ng-href="#/assets/{{share.id}}">{{share.name}}</a>
            </li>
          </ul>
        </li>
      </ul>
      
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<div class="panel panel-default">
	<!-- Default panel contents -->
	<div class="panel-heading">
		<h3 class="text-center">{{shareFile.name}}</h3>
	</div>
	<div class="panel-body">
		<h4>Details about this asset:</h4>
	</div>

	<ul class="list-group">
	    <li class="list-group-item"><strong>Currency:</strong> {{shareFile.currency.name}}</li>
	    <li class="list-group-item"><strong>Issuer:</strong> {{shareFile.issuer.name}}</li>
	    <li class="list-group-item"><strong>ISIN:</strong> {{shareFile.isin}}</li>
	    <li class="list-group-item"><strong>Region:</strong> {{regions | formatAssetData}}</li>
	    <li class="list-group-item"><strong>Risk:</strong> {{riskFamilies | formatAssetData}}</li>
	    <li class="list-group-item"><strong>Sector:</strong> {{sectors | formatAssetData}}</li>
	  </ul>
	
	<!-- Grap -->
	<div>
        <highchart id="chart1" config="chartConfig"></highchart>
    </div>
	
	<!-- Comments -->
	<div class="panel-footer">
		<h4 class="text-center">Your comments about this asset</h4>

		<!-- Comment input -->
		<form role="form" ng-submit="addComment()">
			<div>
				<div class="input-group">
					<input type="text" ng-model="commenttoadd" placeholder="Any comments about this asset?" class="form-control">
					<span class="input-group-btn">
						<input type="submit" class="btn btn-primary" value="Add Comment">
					</span>
				</div>
			</div>
		</form>

		<!-- Todos list -->
		<div ng-model="comments">
			<p class="input-group input-group-sm comment--jsc" ng-repeat="comment in comments track by $index">
				<input type="text" ng-model="comment.text" class="form-control">
				<span class="input-group-addon smaller hidden-xs">
					{{comment.date}}
				</span>
				<span class="input-group-btn">
					<button class="btn btn-info" ng-click="editComment($index, comment.text)" aria-label="Edit">Edit</button>
				</span>
				<span class="input-group-btn">
					<button class="btn btn-warning" ng-click="removeComment($index)" aria-label="Remove">Remove</button>
				</span>
			</p>
		</div>
	</div>

</div>