
<div class="panel panel-default" ng-class="{'pannel--assets--error' : isError}">
	<!-- Default panel contents -->
	<div class="panel-heading">
		<h3 class="text-center" ng-hide="isError">Your Asset List</h3>
		<h3 class="text-center" ng-show="isError">{{isError}}</h3>
	</div>
	<div class="panel-body" ng-hide="isLoading || isError">
		<p>Here you can find the assets of your portfolio with their historical and latest prices along with some other information like currency and issuer.</p>
		<p class="visible-xs-block">If you are using a small device (under 768px witdth) you can scroll horizontally on this table.</p>
	</div>
	
	<!-- Spinner -->
	<div class="text-center">  
	  <img id="jsc--pinner" src="images/loading.gif" ng-show="isLoading" />
	</div>
	
	<!-- Error Msg -->
	<div id="jsc--error" class="text-center" ng-show="isError">  
	  <span>Sorry, content is not available</span>
	</div>

	<!-- Table -->
	<div class="table-responsive" ng-hide="isLoading || isError">
		<table class="table table-striped table-bordered table-hover">
			<thead>  
				<tr>  
					<th>
						<a href="" ng-click="order('name')">Name</a>
						<span class="glyphicon sort-icon" ng-show="predicate=='name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
					</th>  
					<th>
						<a href="" ng-click="order('currency')">Currency</a>
						<span class="glyphicon sort-icon" ng-show="predicate=='currency'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span> 
					</th>
					<th>
						<a href="" ng-click="order('risk_family')">Risk</a>
						<span class="glyphicon sort-icon" ng-show="predicate=='risk_family'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span> 
					</th>   
				</tr>  
			</thead>  
			<tbody>  
				<tr>   
					<td><input type="text" ng-model="search.name"/></td>  
					<td><input type="text" ng-model="search.currency"/></td>  
					<td><input type="text" ng-model="search.risk_family"/></td>  
				</tr>  
		
				<tr dir-paginate="share in shares | orderBy:predicate:reverse | filter:search | itemsPerPage:numPerPage track by $index" ng-class-odd="'odd'">   
					<td><a href="#/assets/{{share.id}}">{{ share.name }}</a></td>
					<td><a href="#/assets/{{share.id}}">{{ share.currency }}</a></td>
					<td><a href="#/assets/{{share.id}}">{{ share.risk_family }}</a></td>
				</tr>  
			</tbody>  
		</table>  
	</div>
	
	<!-- Pagination -->
	<div class="panel-footer text-center">
	    <dir-pagination-controls
	      max-size="maxNumberPaginationLinks"
	      direction-links="true"
	      boundary-links="true"
	      auto-hide="true">
	  	</dir-pagination-controls>
	</div>
</div>
